p Please log in:

form(method="post" action="/")
    input(type="text" name="username" placeholder="Username")
    br/
    input(type="password" name="password" placeholder="Password")

    p
        input(type="submit" value="Log in")
