doctype html
html(lang="en")
    include ./partials/head.pug

    body
        include ./partials/header.pug

        #content
            if success
                p Download root.cert.pem and intermediate.cert.pem here.

                h2 Root CA certificate
                pre #{content.rootcert}

                h2 Intermediate CA certificate
                pre #{content.intermediatecert}
            else
                p.banner.fail #{errormessage}

        include ./partials/foot.pug
