doctype html
html(lang="en")
    include ./partials/head.pug

    body
        include ./partials/header.pug

        #content
            if (login)
                if(success)
                    p.banner.success Login successful!
                else
                    p.banner.fail #{errormessage}

            if (auth && auth.authed)
                p Select an action from above
            else
                p
                    a(href="/cacerts") Download root certificate and intermediate certificate
                include ./partials/login.pug

        include ./partials/foot.pug
