doctype html
html(lang="en")
    include ./partials/head.pug

    body
        include ./partials/header.pug

        #content
            h1 #{title}

            p Revoke a certificate by serial number

            if sent
                if success
                    p.banner.success Certificate has been revoked successfully.
                    br/
                    a(href=(baseurl + '/revoke')) Revoke another certificate
                    | &nbsp; or &nbsp;
                    a(href=(baseurl + '/list')) Show certificate overview
                else
                    p.banner.fail #{errormessage}
            else
                form(action=(baseurl + '/revoke') method="GET")
                    input(type="text" name="serial" placeholder="Serial number, e.g. BEEF" style="margin-right: 30px;" maxlength=4)
                    input(type="submit" value="Revoke" style="max-width: 100px;")

        include ./partials/foot.pug
