body {
    font-family: Arial;
    margin: 0px;
    font-size: 0.95rem;
    line-height: 150%;
}

body pre {
    font-size: 0.75rem;
    line-height: 120%;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#header-menu a::before {
    content: '▶ ';
}

#header-login a {
    text-decoration: underline;
}

    #header-title {
        flex-grow: 1;
        flex-shrink: 0;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    #header-menu {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        width: 100%;
        max-width: 970px;
    }

        #header-menu ul {
            padding: 0px;
            margin: 0px;
        }

        #header-menu li {
            display: inline-block;
            line-height: 50px;
        }

        #header-menu ul li a {
            font-size: 13px;
            padding-left: 20px;
            padding-right: 20px;
        }

        #header-menu ul li a:first-child {
            padding-left: 10px;
        }

    #header-login {
        flex-grow: 1;
        flex-shrink: 0;
        text-align: right;
        font-size: 13px;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

#content {
    color: black;
    padding: 15px;
    box-sizing: border-box;
    min-height: calc(100vh - 70px - 10px - 100px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 1000px;
}

#loginwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 110px);
    align-items: center;
}

#content #loginwrapper input {
    height: 35px;
    width: 250px;
    margin-bottom: 10px;
}

#loginwrapper div.logincontainer.note {
    color: grey;
    font-style: italic;
    font-size: 0.7rem;
}


#content a {
    color: #0054ff;
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}
#content a:before {
    content: "➤ ";
}

#content a.normal:before {
    content:''
}


p.banner {
    padding: 15px;
    font-size: 0.8rem;
}

p.banner.fail {
    border-left: solid 10px #cf0000;
    background-color: #ffb3b3;
}

p.banner.success {
    border-left: solid 10px #00cf00;
    background-color: #c5ffb3;
}

p.banner.warn {
    border-left: solid 10px #f5d003;
    background-color: #ffeeb3;
}



/*
 * Form elements
 */

#content input, #content select {
    background: none;
    border: solid 1px #dadada;
    height: 1.8rem;
    padding: 3px 7px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
}


#content input[type="submit"] {
    background-color: #4185fc;
    color: white;
    border: none;
    margin-top: 20px;
}
#content input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px #cfcfcf;
}


/*
 * Table style
 */
#content table tr td, #content table tr th {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
#content table tr td:first-child, #content table tr th:first-child {
    padding-left: 0px;
}
#content table tr td:last-child, #content table tr th:last-child {
    padding-right: 0px;
}

#content table tr th:hover {
    cursor: pointer;
}


#content table.request tr td {
    width: 60%;
}



#content div.cert {
    white-space: pre;
    font-family: "Consolas", "monaco", "monospace";
    font-size: 12px;
    line-height: 120%;
}



#content div.readmecontainer {
    margin-top: 100px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border: solid 1px #f0f0f0;
}


#content div.readmecontainer pre {
    margin-left: 50px;
    padding-left: 20px;
    border-left: solid 2px #009cff;
    line-height: 130%;
    padding-top: 10px;
    padding-bottom: 10px;
}


#listtable tr:hover {
    color: blue;
}



textarea.requestform {
    max-width:300px;
    width: 100%;
    height:100px;
    box-sizing:border-box;
    padding: 10px;
    border: solid 1px #dadada
}



#footer {
    color: white;
    background-color: #1a1a1a;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
