body {
    font-family: Arial;
    margin: 0px;
}

#header {
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#header a {
    text-decoration: underline;
    color: inherit;
}

    #header-title {
        max-width: 200px;
        flex: 1;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #header-menu {
        flex: 1;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

        #header-menu ul {
            padding: 0px;
            margin: 0px;
        }

        #header-menu li {
            display: inline-block;
            line-height: 50px;
        }

        #header-menu ul li a {
            font-size: 13px;
            padding-left: 20px;
            padding-right: 20px;
        }

    #header-login {
        flex: 1;
        max-width: 200px;
        text-align: right;
        font-size: 13px;
        line-height: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

#content {
    color: black;
    padding: 15px;
    box-sizing: border-box;
    min-height: calc(100vh - 70px - 10px);
}


p.banner {
    padding: 15px;
    border-radius: 3px;
}

p.banner.fail {
    border: solid 1px red;
    background-color: #ffdada;
}

p.banner.success {
    border: solid 1px green;
    background-color: #d7ffca;
}

#footer {
    color: white;
    background-color: #1a1a1a;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
